.overview-nav {
  color: #fff;
  background-color: #474c55;
}

.overview-table {
  border: 1px solid #eeccee;
  max-height: 250px;
  overflow-y: scroll;
  width: 100%;
  /* background-color: black; */
}
.overview-option {
  height: 275px;
  background-color: #c0c0c0;
  text-align: center;
}

