body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.modalStyle {
  width: 100%;
  height: 100%;
}

.modalNavItem {
  background-color: lightsteelblue;
}

.modalNavItem:hover {
  color: yellow;
}

.modalNavItem:visited {
  color: yellow;
}

.trainerModalNav {
  position: fixed;
  right: 5%;
}

.associatesModalNav {
  position: fixed;
  left: 5%;
}

.page-title-bar {
  height: 30px;
  color: white;
  background-color: #474C55;
  margin-bottom: 6px;
  line-height: 1.53rem;
    font-size: 1.2rem;
}

.middle-text {
  margin-bottom: 0px;
}

#gen-batch-options-menu {
  background-color: #474C55;
}

#options-div {
  color: "white";
  padding-bottom: 8px;
  padding-top: 2px;
}

.form-control {
  border-radius: 0px !important;
}
