th {
  /* color:blue; */
  color: #f26925;
}

.shadow {
  box-shadow: 2px 5px 5px black;
}

table {
  /*offsetx offsety radius color*/
  box-shadow: 2px 5px 5px black;
}

th:hover {
  text-decoration: underline;
  cursor: pointer;
}
